body
{
    background-color: rgba(141, 217, 225, 0.783);
}
nav
{
    background-color: rgb(193, 140, 140);
    text-align: center;
}
nav>a
{
    color: black;
    margin-left: 5%;
    text-decoration: none;
}
body>a
{
    text-decoration: none;
    color: blue;
}

footer
{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.461);
}